@mixin font($size, $weight, $height, $color) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin bp-xlarge {
@media only screen and (max-width: 1200px) {
@content;
}
}

@mixin bp-large {
@media only screen and (max-width: 992px) {
@content;
}
}

@mixin bp-medium {
@media only screen and (max-width: 768px) {
@content;
}
}

@mixin bp-small {
@media only screen and (max-width: 575px) {
@content;
}
}